<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   
  <appSettings xdt:Transform="Insert">
    <add key="ConnectionName" value="SqlServer"/>
  </appSettings>
  <connectionStrings xdt:Transform="Insert">
    <add connectionString="12" name="Database"/>
  </connectionStrings>
</configuration>